
.stress{
	font-weight: bold;
}
.block_wrap{
	padding:10px;
	margin:0px;
	background-color:white;
	position: relative;
}

a{
	text-decoration: none;
	color: black;
}
a:hover{
	text-decoration: underline;
}
